/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

/*-----Resets-----*/

html,
body {
  font-family: "GeneralSans-Variable", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


// remove built-in form typography margin: remove default margin on text tags
input,
button,
textarea,
select {
  font: inherit;
}

// Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*-----Grid Columns-----*/

.main {
  @include grid;
}

.nav {
  grid-column: span 1;
}

.menu {
  grid-column: span 8;
  background: $bg-color;
  padding: $reg-space;

  &-header {
    position: sticky;
    top: $reg-space;
  }

  &-sections {
    // top: 7rem;
    // position: sticky;
    height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

.sum {
  grid-column: span 3;
}

/*-----Button-----*/

button {
  &:disabled {
    background-color: $color-border;
    color: $grey;
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: $secondary;
  border-color: $secondary;
  border-radius: $border-radius-button;
  color: white;
  padding: 0 $sm-space;
  border: none;
}

.flex {
  display: flex;
  gap: $reg-space;
}

/*-----Navigation-----*/

.nav {
  position: sticky;
  top: 0;
  height: 100vh;

  img {
    width: 100%;
    padding: $reg-space;
  }

  svg {
    width: 100%;
    padding: $xs-space $reg-space;
  }

  &-button {
    line-height: 0;

    .selected {
      background-color: #f5f5f7;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        left: 8px;
        top: +$xs-space;
        bottom: -$xs-space;
        width: 10px;
        height: calc(100% - 2 * ($xs-space));
        background: $gradient;
      }
    }
  }
}

.container-nav-buttons {
  padding-top: $lg-space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $reg-space;
}

/*-----Menü Übersicht Speisen-----*/

.container-kategorien {
  display: inline-flex;
  flex-wrap: wrap;
  gap: $sm-space;
  padding-top: $reg-space;
}

.btn-kategorie {
  padding: $sm-space $xs-space $xs-space 0;
  border: none;
  background: none;
  font-weight: 600;
  font-size: smaller;
  cursor: pointer;

  &.selected {
    color: $secondary;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60%;
      height: 3px;
      background-color: $secondary;
    }
  }
}

.header-kategorie {
  padding: $reg-space 0 $xs-space;
  color: $grey;
  font-size: larger;
  font-weight: 500;
}

.container-speisen {
  display: grid;
  gap: $reg-space;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-right: $lg-space;
  margin-bottom: $reg-space;
}

.card-speise {
  //noch überlegen ob zusätzliches Grid einbauen damit Nummer und Text oben ohne Größe der Karte zu verringern
  align-self: start;

  background-color: white;
  border: none;
  border-radius: 9px;
  box-shadow: $box-shadow-lg;
  padding: $sm-space;
  text-align: start;
  cursor: pointer;

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-number {
    line-height: 100%;
    font-size: 2.5rem;
    color: $primary;
    font-weight: 600;
  }

  h3 {
    font-weight: 600;
    padding-top: 0.5rem;
  }
}

/*-----Zutaten-----*/
.btn-zutat {
  border-radius: $border-radius;
  border: 3px solid;

  &.deactived {
    background-color: transparentize($color-border, 0.8) !important;
    color: $color-border !important;
    box-shadow: none !important;
    border-color: $color-border !important;

    img {
      opacity: 0.25;
    }
  }

  &.Gyros {
    background-color: $blue;
    border-color: $blue;
  }

  &.Pommes {
    background-color: $orange;
    border-color: $orange;
  }

  @each $zutat in $sonstiges {
    &.#{$zutat} {
      background-color: $grey;
      border-color: $grey;
    }
  }

  @each $zutat in $gegrillt {
    &.#{$zutat} {
      background-color: $lila;
      border-color: $lila;
    }
  }
}

/*-----Modal-----*/

dialog {
  border-radius: 0.2em;
  border: none;
  padding: $xs-space $sm-space;
  min-width: 40rem;

  h1 {
    padding-bottom: $sm-space;
  }

  h3 {
    font-weight: 600;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  > div {
    padding: 1em;
  }

  &[open] {
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    margin: auto;

    &::backdrop {
      animation: fade 0.2s ease-out;
    }
  }
}

.modal-container {
  margin-bottom: $reg-space;
  width: 100%;
  overflow: visible;

  &--zutaten {
    display: flex;
    flex-direction: row;

    .btn-zutat {
      min-width: 8rem;
      display: flex;
      box-shadow: $box-shadow-sm;
      flex-direction: column;
      color: white;
      margin-right: $sm-space;
      align-items: center;

      img {
        width: 6rem;
        margin: 0 auto;
        padding: $xs-space;
      }
    }
  }

  &--saucen {
    display: flex;
    flex-direction: row;

    .btn-zutat {
      display: flex;
      box-shadow: $box-shadow-sm;
      flex-direction: row;
      color: white;
      margin-right: $sm-space;
      align-items: center;

      img {
        width: 4rem;
        margin: 0 auto;
        padding: $xs-space;
      }
    }
  }

  &--notiz {
    input {
      @extend %border-light;
      width: 100%;

      &:focus-visible {
        outline-color: transparentize($secondary, 0.5);
      }
    }
  }
}

/*-----Counter-----*/

.counter {
  @extend %border-light;
  display: flex;
  font-weight: 600;
  align-items: baseline;
  flex-grow: 0;

  button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: larger;

    &:nth-of-type(1) {
      padding: $xs-space $reg-space $xs-space $sm-space;
    }

    &:nth-of-type(2) {
      padding: $xs-space $sm-space $xs-space $reg-space;
    }
  }

  div {
    text-align: center;
    width: $reg-space;
  }

  ~ button {
    flex-grow: 1;
  }
}

/*-----Keyframes-----*/

@keyframes zoom {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
