/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

/*-----Resets-----*/

html,
body {
  font-family: "GeneralSans-Variable", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

// remove built-in form typography margin: remove default margin on text tags
input,
button,
textarea,
select {
  font: inherit;
}

// Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*-----Grid Columns-----*/

.main {
  @include grid;
}

.nav {
  grid-column: span 1;
}

.menu {
  grid-column: span 8;
  background: $bg-color;
  height: 100vh;

  &_header {
    height: 12vh;
    padding: 2vh $reg-space 0;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: 1fr auto;

    &-logo {
      grid-row: span 2;
      height: 10vh;
      padding-right: $sm-space;

      img {
        height: 100%;
        padding: $xs-space;
      }
    }

    &-time {
      align-self: center;
    }

    &-date {
      align-self: center;
      text-align: end;
    }

    &-jumpToCategory {
      grid-column: span 2;
      display: flex;
      gap: $sm-space;
      justify-content: space-between;

      .btn-kategorie {
        padding: $xs-space 0;
        border: none;
        background: none;
        font-weight: 700;
        @extend %font-sm;
        cursor: pointer;

        &.selected {
          color: $secondary;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60%;
            height: 3px;
            background-color: $secondary;
          }
        }
      }
    }
  }

  &_kategorien {
    padding: 0 $reg-space;
    height: 88vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &-heading {
      padding: $sm-space 0 $xs-space;
      color: $grey;
      font-weight: 400;
    }
  }


  &_bestellung {
    @extend %menu-bestellung;
    grid-column: span 4;

    &-list {
      flex-grow: 1;
      margin: $sm-space 0;
      max-height: 67vh;
      overflow-y: scroll;
      scroll-behavior: smooth;

      &.liefern {
        max-height: 60vh;
      }

      &-item {
        @extend %font-sm;
        text-align: right;
        // resetting grid default for padding-inline:
        padding: 0;
        padding-bottom: $sm-space;
        display: grid;
        grid-template-columns: 75% auto auto;
        width: 100%;
        align-items: baseline;
        grid-template-areas:
          "name menge preis"
          "zutaten zutaten zutaten"
          "notiz notiz notiz";

        &-menge {
          grid-area: menge;
        }

        &-name {
          grid-area: name;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &-preis {
          grid-area: preis;
        }

        &-zutaten {
          grid-area: zutaten;
          text-align: left;
          @extend %font-sm;

          span:not(:last-child)::after {
            content: ", ";
          }
        }

        &-notiz {
          grid-area: notiz;
          text-align: left;
          color: $secondary;
        }

      }
    }

    &-preis {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: $sm-space;
    }
  }
}

/*-----Button-----*/

button {
  cursor: pointer;
  background-color: white;
  border: none;

  &:disabled {
    background-color: $color-border;
    color: $grey;
    cursor: not-allowed;
  }
}

.btn {
  &-primary {
    @extend %btn-primary;
    padding: $xs-space $sm-space;
  }

  &-toggler {
    @extend %font-sm;
    color: $grey;
    border: none;
    background-color: $color-border;
    flex: 1;
    padding: $xs-space;
    text-align: center;

    &.active {
      @extend %btn-primary;
      border-radius: $border-radius;
    }
  }

  &-delete {
    @extend %border-light;
    padding: 0 $sm-space;

    svg {
      height: $sm-space;
      margin: 0 auto;
      fill: $secondary;
    }
  }
}

.flex {
  display: flex;
  gap: $reg-space;
}

.stretch {
  flex: 1;
}

/*-----Toggler-----*/

.container-toggler {
  display: flex;
  flex-direction: row;
  background-color: $color-border;
  padding: $xs-space;
  gap: $xs-space;
  align-content: stretch;
  justify-content: space-between;
}

/*-----Navigation-----*/

.nav {
  position: sticky;
  top: 0;
  height: 100vh;

  img {
    width: 100%;
    padding: $reg-space;
  }

  svg {
    width: 100%;
    padding: $xs-space $reg-space;
  }

  &-button {
    line-height: 0;

    .selected {
      background-color: #f5f5f7;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        left: 8px;
        top: +$xs-space;
        bottom: -$xs-space;
        width: 10px;
        height: calc(100% - 2 * ($xs-space));
        background: $gradient;
      }
    }
  }
}

.container-nav-buttons {
  padding-top: $lg-space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $reg-space;
}

/*-----Menü Übersicht Speisen-----*/

.container-card-speise {
  display: grid;
  gap: $sm-space $reg-space;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin-bottom: $reg-space;
}

.card-speise {
  //noch überlegen ob zusätzliches Grid einbauen damit Nummer und Text oben ohne Größe der Karte zu verringern
  align-self: start;

  background-color: white;
  border: none;
  border-radius: 9px;
  box-shadow: $box-shadow-lg;
  padding: $sm-space;
  text-align: start;
  cursor: pointer;

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-number {
    line-height: 100%;
    color: $primary;
  }

  h2 {
    padding-top: 0.5rem;
  }
}

/*-----Speise Editor-----*/

.btn-zutat {
  border-radius: $border-radius;
  border: 3px solid;

  &.deactived {
    background-color: transparentize($color-border, 0.8) !important;
    color: $color-border !important;
    box-shadow: none !important;
    border-color: $color-border !important;

    img {
      opacity: 0.25;
    }
  }

  &.Gyros {
    background-color: $blue;
    border-color: $blue;
  }

  &.Pommes {
    background-color: $orange;
    border-color: $orange;
  }

  &.ueberbacken {
    background-color: $green;
    border-color: $green;
  }

  @each $zutat in $sonstiges {
    &.#{$zutat} {
      background-color: $grey;
      border-color: $grey;
    }
  }

  @each $zutat in $gegrillt {
    &.#{$zutat} {
      background-color: $lila;
      border-color: $lila;
    }
  }
}

.editor {
  margin: $sm-space $xs-space;

  &-container {
    margin-bottom: $reg-space;
  }

  &-zutaten {
    display: flex;
    flex-direction: row;

    .btn-zutat {
      @extend %btn-zutat-lg;
    }
  }

  &-saucen {
    display: flex;
    flex-direction: row;

    .btn-zutat {
      @extend %btn-zutat-sm;
    }
  }

  &-extras {
    display: flex;
    flex-direction: column;
    gap: $sm-space;

    .btn-zutat {
      @extend %btn-zutat-xs;
    }
  }

  &-notiz {
    input {
      @extend %border-light;
      width: 100%;

      &:focus-visible {
        outline-color: transparentize($secondary, 0.5);
      }
    }
  }
}

/*-----Dialog-----*/

dialog {
  padding: 0;
  border: none;
  h1 {
    padding-bottom: $sm-space;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  &.editor {
    border-radius: 0.2em;
    padding: $xs-space $sm-space;
    min-width: 40rem;

    > div {
      padding: 1em;
    }

    &[open] {
      animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
      margin: auto;

      &::backdrop {
        animation: fade 0.2s ease-out;
      }
    }
  }

  &.checkout {
    height: 100vh;
    width: 60%;

    .menu-bestellung {
      // ursprüngliche props werden irgendwo vom dialog überschrieben, daher:
      @extend %menu-bestellung;

      .btn-primary {
        // button etwas höher setzen damit nicht aus Versehen auf Drucken geklickt wird
        margin-bottom: $reg-space;
      }

      h3:first-child {
        text-align: center;
      }
    }

    .checkout {
      margin-bottom: $reg-space;
      display: grid;
      grid-gap: $sm-space;
      .gridbox {
        @extend %checkout-gridbox;
      }
      &-abholung {
        grid-template-columns: 1fr auto;
      }
      &-lieferung {
        grid-template-columns: 2fr 1fr;
      }
      &-streets-container {
        position: relative;
      }
      &-streets-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        width: 100%;

        button {
          padding: $xs-space;
          background-color: $color-border;
          border-bottom: white 1px solid;
        }
      }
    }

    &[open] {
      margin-left: auto;
    }

    &:-internal-dialog-in-top-layer {
      max-height: 100%;
    }
  }
}

/*-----Counter-----*/

.counter {
  @extend %border-light;
  display: flex;
  font-weight: 600;
  align-items: center;
  flex-grow: 0;
  justify-content: space-around;

  button {
    align-self: stretch;
    padding: 0.1rem $xs-space;
  }

  &.bigger {
    button {
      // font-size: larger;
      align-self: stretch;

      &:nth-of-type(1) {
        padding: $xs-space $reg-space $xs-space $sm-space;
      }

      &:nth-of-type(2) {
        padding: $xs-space $sm-space $xs-space $reg-space;
      }
    }
  }

  &-number {
    text-align: center;
    width: $reg-space;
  }

  &-time {
    text-align: center;
    width: $lg-space;
  }
}

/*-----Keyframes-----*/

@keyframes zoom {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*-----Scrollbar-----*/

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px $grey;
  border-radius: $border-radius;
  background: $gradient;
}

#style-2::-webkit-scrollbar {
  width: 10px;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: $border-radius;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background: rgba(white, 0.8);
  // background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
